{% extends '_base_.html' %}
{% load static %}

{% block title %}
About
{% endblock title %}


{% block messages %}
{% endblock messages %}


{% block top_margin %}
{% endblock top_margin %}

{% block container %}
    <link rel="stylesheet" href="{% static 'assets/about/css/about.css' %}">

    <h1 class="h1-title">How it's made</h1>
    <div class="carousel-container">
        <div id="carousel">
            <figure><img class="img" src="{% static 'assets/about/images/bootstrapp.png' %}" alt="bootstrap"></figure>
            <figure><img class="img" src="{% static 'assets/about/images/pytest.png' %}" alt="pytest"></figure>
            <figure><img class="img" src="{% static 'assets/about/images/selenium.png' %}" alt="selenium"></figure>
            <figure><img class="img" src="{% static 'assets/about/images/postgres.png' %}" alt="postgres"></figure>
            <figure><img class="img" src="{% static 'assets/about/images/mysql.png' %}" alt="mysql"></figure>
            <figure><img class="img" src="{% static 'assets/about/images/mobirise.png' %}" alt="mobirise"></figure>
            <figure><img class="img" src="{% static 'assets/about/images/python.png' %}" alt="python"></figure>
            <figure><img class="img" src="{% static 'assets/about/images/django.png' %}" alt="django"></figure>
            <figure><img class="img" src="{% static 'assets/about/images/saveit.png' %}" alt="saveit"></figure>
        </div>
    </div>

    <div class="description-container align-center">
        <strong class="additional-text"></strong>
    </div>

    <div class="audio-container align-center">
        <audio controls src="{% static 'assets/about/music/django.mp3' %}"></audio>
    </div>

    <script src="{% static 'assets/about/js/about.js' %}">

    </script>

    <div></div>

{% endblock container %}