{% extends '_base_.html' %}
{% load static %}

{% block title %}
    Contact
{% endblock title %}


{% block messages %}
{% endblock messages %}


{% block top_margin %}
{% endblock top_margin %}

{% block container %}
    <link rel="stylesheet" href="{% static 'assets/web/assets/css/mobirise2.css' %}">
    <link rel="stylesheet" href="{% static 'assets/socicon/css/styles.css' %}">

    <div class="m-5"></div>

    <section class="team2 cid-trkEPKy7CY" xmlns="http://www.w3.org/1999/html" id="team2-k">


    <div class="container">
        <div class="card">
            <div class="card-wrapper">
                <div class="row align-items-center">
                    <div class="col-12 col-lg-6">
                        <div class="image-wrapper">
                            <img src="{% static 'assets/images/mf.jpg' %}" alt="Author">
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="card-box">
                            <h5 class="card-title mbr-fonts-style m-0 display-5">
                                <strong>Marcin Fraszczak</strong></h5>
                            <h6 class="card-subtitle mbr-fonts-style mb-3 display-4"><strong>Host</strong></h6>
                            <p class="mbr-text mbr-fonts-style display-7">
                                Lazy, rude and careless.<br>Thinks of himself as 'Tiger' and 'Eagle'.<br>Described by others as 'Hyena' or 'Vulture'.<br><br>And women call him a pig.<br><br>Hi, check out my passions, join me on github,<br> or send me a message:</p>
                            <div class="social-row display-7">
                                <div class="soc-item">
                                    <a href="http://www.eurobyvelo.eu" target="_blank">
                                        <span class="mbr-iconfont mobi-mbri-globe-2 mobi-mbri"></span>
                                    </a>
                                </div>
                                <div class="soc-item">
                                    <a href="https://github.com/Marcin-Fraszczak/SaveIT_public.git" target="_blank">
                                        <span class="mbr-iconfont socicon-github socicon"></span>
                                    </a>
                                </div>
                                <div class="soc-item">
                                    <a href="mailto:fraszczak.programming@gmail.com">
                                        <span class="mbr-iconfont mobi-mbri-letter mobi-mbri"></span>
                                    </a>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>
    <div></div>

{% endblock container %}