{% load static %}

<section class="menu menu1 cid-toBuno33N0" once="menu" id="menu1-0">
    <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
        <div class="container">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="{% url 'home:home' %}">
                        <img src="{% static 'assets/images/saveit_logo_full_401x218.png' %}" alt="App logo with squirell">
                    </a>
                </span>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup"
                    aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true">

                    <li class="nav-item">
                        <a class="nav-link link text-white text-primary display-7" href="{% url 'accounts:dashboard' %}">
                            Account: {{user.username}}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link text-white text-primary display-7" href="{% url 'password_change' %}">
                            Change data
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link text-white text-primary display-7" href="{% url 'logout' %}">
                            Log out
                        </a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link link text-white text-primary dropdown-toggle display-7" href="#"
                            data-toggle="dropdown-submenu" aria-expanded="true">
                            Transaction
                        </a>
                        <div class="dropdown-menu">
                            <a class="text-white text-primary dropdown-item display-7" href="{% url 'transactions:add_transaction' %}">
                                Add new
                            </a>
                            <a class="text-white text-primary dropdown-item display-7" href="{% url 'transactions:list_transaction' %}">
                                List all
                            </a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link link text-white text-primary dropdown-toggle display-7" href="#"
                            data-toggle="dropdown-submenu" aria-expanded="true">
                            Category
                        </a>
                        <div class="dropdown-menu">
                            <a class="text-white text-primary dropdown-item display-7" href="{% url 'transactions:add_category' %}">
                                Add new
                            </a>
                            <a class="text-white text-primary dropdown-item display-7" href="{% url 'transactions:list_category' %}">
                                List all
                            </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link link text-white text-primary dropdown-toggle display-7" href="#"
                            data-toggle="dropdown-submenu" aria-expanded="true">
                            Counterparty
                        </a>
                        <div class="dropdown-menu">
                            <a class="text-white text-primary dropdown-item display-7" href="{% url 'transactions:add_counterparty' %}">
                                Add new
                            </a>
                            <a class="text-white text-primary dropdown-item display-7" href="{% url 'transactions:list_counterparty' %}">
                                List all
                            </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link link text-white text-primary dropdown-toggle display-7" href="#"
                            data-toggle="dropdown-submenu" aria-expanded="true">
                            Wallet
                        </a>
                        <div class="dropdown-menu">
                            <a class="text-white text-primary dropdown-item display-7" href="{% url 'transactions:add_wallet' %}">
                                Add new
                            </a>
                            <a class="text-white text-primary dropdown-item display-7" href="{% url 'transactions:list_wallet' %}">
                                List all
                            </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link link text-white text-primary dropdown-toggle display-7" href="#"
                            data-toggle="dropdown-submenu" aria-expanded="true">
                            Savings Plan
                        </a>
                        <div class="dropdown-menu">
                            <a class="text-white text-primary dropdown-item display-7" href="#">
                                Add new
                            </a>
                            <a class="text-white text-primary dropdown-item display-7" href="#">
                                List all
                            </a>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</section>