{% load static %}

<section class="menu menu1 cid-toBuno33N0" once="menu" id="menu1-0">
    <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
        <div class="container">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="index.html">
                        <img src="{% static 'assets/images/saveit_logo_full_401x218.png' %}" alt="App logo with squirell">
                    </a>
                </span>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true"><li class="nav-item"><a class="nav-link link text-white text-primary display-7" href="index.html">Zaloguj</a></li>
                    <li class="nav-item"><a class="nav-link link text-white text-primary display-7" href="index.html#top">
                            O aplikacji</a></li>
                    <li class="nav-item"><a class="nav-link link text-white text-primary display-7" href="index.html">Kontakt</a>
                    </li></ul>
            </div>
        </div>
    </nav>
</section>