{% extends '_base_.html' %}
{% load static %}

<!--background-color: #3F3838;-->
{% block title %}
    Account
{% endblock title %}

{% block menu %}
    {% include '../partials/_dash_menu.html' %}
{% endblock menu %}

{% block container %}



    <div class="row mt-4 ml-5 pt-2 container-flex align-items-center align-center">
        <div class="col-1"><a href="{% url 'accounts:dashboard' %}?abs_year={{abs_year}}&abs_month={{abs_month|add:'-1'}}"
               class="btn btn-secondary display-4 m-0 dash-link p-2 pt-3 pb-3"><</a>
        </div>
        <div class="col-4">
            <canvas id="chartAbsolute" style="width:100%;max-width:700px"></canvas>
        </div>
        <div class="col-1"><a href="{% url 'accounts:dashboard' %}?abs_year={{abs_year}}&abs_month={{abs_month|add:'1'}}"
               class="btn btn-secondary display-4 m-0 dash-link p-2 pt-3 pb-3">></a>
        </div>



        <div class="col-5">
            <div class="row mb-2 customizer card-box rounded align-items-center">
                <div class="col-8 align-left">
                    <p class="text-white text-primary display-7 nav-link">Summary for wallet: {{ default_wallet.name|default:'All wallets' }} in {{abs_displayed_date}}</p>
                </div>
                <div class="col-4"><a href="{% url 'accounts:dashboard' %}?abs_year={% now 'Y' %}&abs_month={% now 'm' %}"
                    class="btn btn-light display-4 m-0 dash-link pt-2 pb-2">This month</a>
                </div>
            </div>
            <div class="row p-1 align-items-center">
                <div class="col-3">Transactions:</div>
                <div class="col-2">{{abs_no_transactions}}</div>
                <div class="col-3"><a href="{% url 'transactions:add_transaction' %}"
                    class="btn btn-dark display-4 m-0 dash-link">Add new</a>
                </div>
                <div class="col-3"><a href="{% url 'transactions:list_transaction' %}?fromDate={{abs_year}}-{{abs_month}}-1&toDate=1000-01-01"
                    class="btn btn-secondary display-4 m-0 dash-link">Show</a>
                </div>
            </div>

            <div class="row p-1 pt-4 align-items-center">
                <div class="col-3">Monthly profit:</div>
                <div class="col-2">{{monthly_profit}}</div>
            </div>

            <div class="row p-1 pt-4 align-items-center">
                <div class="col-3">Monthly debit:</div>
                <div class="col-2">{{monthly_debit}}</div>
            </div>

            <div class="row p-1 pt-4 align-items-center">
                <div class="col-3">Monthly balance:</div>
                <div class="col-2">{{ monthly_balance }}</div>
            </div>

        </div>
    </div>



    <div class="row mt-1 ml-5 pt-2 container-flex align-items-center align-center">
        <div class="col-1"><a href="{% url 'accounts:dashboard' %}?cum_year={{cum_year}}&cum_month={{cum_month|add:'-1'}}"
               class="btn btn-secondary display-4 m-0 dash-link p-2 pt-3 pb-3"><</a>
        </div>
        <div class="col-4">
            <canvas id="chartCumulative" style="width:100%;max-width:700px"></canvas>
        </div>
        <div class="col-1"><a href="{% url 'accounts:dashboard' %}?cum_year={{cum_year}}&cum_month={{cum_month|add:'1'}}"
               class="btn btn-secondary display-4 m-0 dash-link p-2 pt-3 pb-3">></a>
        </div>

        <div class="col-5">
            <div class="row mb-2 customizer card-box rounded align-items-center">
                <div class="col-8 align-left">
                    <p class="text-white text-primary display-7 nav-link">Summary for wallet: {{default_wallet.name|default:'All wallets'}}</p>
                </div>
                <div class="col-4"><a href="{% url 'transactions:list_wallet' %}"
                    class="btn btn-light display-4 m-0 dash-link pt-2 pb-2">Change wallet</a>
                </div>
            </div>
            <div class="row p-1 align-items-center">
                <div class="col-3">Transactions:</div>
                <div class="col-2">{{total_transactions}}</div>
                <div class="col-3"><a href="{% url 'transactions:add_transaction' %}"
                    class="btn btn-dark display-4 m-0 dash-link">Add new</a>
                </div>
                {% if default_wallet %}
                <div class="col-3"><a href="{% url 'transactions:list_transaction' %}?filter_by=wallet&filter_val={{default_wallet.pk}}"
                    class="btn btn-secondary display-4 m-0 dash-link">Show</a>
                </div>
                {% else %}
                <div class="col-3"><a href="{% url 'transactions:list_transaction' %}"
                    class="btn btn-secondary display-4 m-0 dash-link">Show</a>
                </div>
                {% endif %}
            </div>

            <div class="row p-1 pt-4 align-items-center">
                <div class="col-3">Total profit:</div>
                <div class="col-2">{{total_profit}}</div>
            </div>

            <div class="row p-1 pt-4 align-items-center">
                <div class="col-3">Total debit:</div>
                <div class="col-2">{{total_debit}}</div>
            </div>

            <div class="row p-1 pt-4 align-items-center">
                <div class="col-3">Total balance:</div>
                <div class="col-2">{{total_balance}}</div>
            </div>

        </div>
    </div>



    <div class="row mt-5 ml-4 pt-1 container-flex align-items-center align-center">
        <div class="col-2 display-4">Independent graphs</div>
        <div class="slidecontainer col-2 form-control">
            <input type="range" min="0" max="1" value="{{chain_graphs}}" step="1" class="slider chain-graphs">
        </div>
        <div class="col-2 display-4">Connected graphs</div>
        </div>
    </div>


<script src="{% static 'assets/chartjs/chart.js' %}"></script>
<script src="{% static 'assets/chartjs/graphs.js' %}"></script>

<script>
    let absValues = {{abs_values_list|escape}}
    let cumValues = {{cum_values_list|escape}}
    let absDate = '{{abs_displayed_date|escape}}'
    let cumDate = '{{cum_displayed_date|escape}}'
    drawGraphAbs(absValues)
    drawGraphCum(cumValues)
</script>
<div></div>

{% endblock container %}
