{% extends '_base_.html' %}
{% load static %}
<!--background-color: #3F3838;-->
{% block title %}
    Account
{% endblock title %}

{% block menu %}
    {% include '../partials/_dash_menu.html' %}
{% endblock menu %}

{% block container %}

    <div class="row mt-5 ml-5 pt-2 container-flex align-items-center align-center">
        <div class="col-1"><a href="{% url 'accounts:dashboard' %}?abs_year={{abs_year}}&abs_month={{abs_month|add:'-1'}}"
               class="btn btn-secondary display-4 m-0 dash-link pt-5 pb-5"><</a>
        </div>
        <div class="col-4">
            <canvas id="chartAbsolute" style="width:100%;max-width:700px"></canvas>
        </div>
        <div class="col-1"><a href="{% url 'accounts:dashboard' %}?abs_year={{abs_year}}&abs_month={{abs_month|add:'1'}}"
               class="btn btn-secondary display-4 m-0 dash-link pt-5 pb-5">></a>
        </div>
        <div class="col-6"></div>
    </div>
    <div class="row mt-5 ml-5 pt-2 container-flex align-items-center align-center">
        <div class="col-1"><a href="{% url 'accounts:dashboard' %}?cum_year={{cum_year}}&cum_month={{cum_month|add:'-1'}}"
               class="btn btn-secondary display-4 m-0 dash-link pt-5 pb-5"><</a>
        </div>
        <div class="col-4">
            <canvas id="chartCumulative" style="width:100%;max-width:700px"></canvas>
        </div>
        <div class="col-1"><a href="{% url 'accounts:dashboard' %}?cum_year={{cum_year}}&cum_month={{cum_month|add:'1'}}"
               class="btn btn-secondary display-4 m-0 dash-link pt-5 pb-5">></a>
        </div>
        <div class="col-6"></div>
    </div>
    <div class="row mt-5 ml-5 pt-2 container-flex align-items-center align-center">
        <div class="col-2 display-4">Independent graphs</div>
        <div class="slidecontainer col-2">
            <input type="range" min="0" max="1" value="{{chain_graphs}}" step="1" class="slider chain-graphs">
        </div>
        <div class="col-2 display-4">Connected graphs</div>
        </div>
    </div>


<script src="{% static 'assets/chartjs/chart.js' %}"></script>
<script src="{% static 'assets/chartjs/graphs.js' %}"></script>

<script>
    let absValues = {{abs_values_list|escape}}
    let cumValues = {{cum_values_list|escape}}
    let absDate = '{{abs_displayed_date|escape}}'
    let cumDate = '{{cum_displayed_date|escape}}'
    drawGraphAbs(absValues)
    drawGraphCum(cumValues)
</script>
<div></div>

{% endblock container %}
