{% extends '_base_.html' %}

{% block title %}
    List Savings Plan
{% endblock title %}

{% block menu %}
    {% include '../partials/_dash_menu.html' %}
{% endblock menu %}

{% block container %}
    <div class="container-sm mt-5">
        <h2>View all savings plans:</h2>
        <ul>
            <div class="row mb-3 table-dark">
                <div class="col-1"></div>
                <div class="col">Name</div>
                <div class="col">Initial value</div>
                <div class="col">Monthly goal</div>
                <div class="col">Curve type</div>
            </div>
            {% for object in object_list %}
            <a href="{% url 'transactions:modify_savings_plan' object.pk %}" class="text-black">
                <div class="row p-2">
                    <div class="col-1">{{forloop.counter}}</div>
                    <div class="col">{{object.name}}</div>
                    <div class="col">{{object.initial_value}}</div>
                    <div class="col">{{object.monthly_goal}}</div>
                    <div class="col">{{object.curve_type}}</div>
                </div>
            </a>
            {% empty %}
            <div class="col-12 align-center">Nothing to display</div>
            {% endfor %}
        </ul>
    </div>
    <div></div>
{% endblock container %}