{% extends '_base_.html' %}
{% load static %}

{% block title %}
    List Transaction
{% endblock title %}

{% block menu %}
    {% include '../partials/_dash_menu.html' %}
{% endblock menu %}

{% block container %}
    <div class="container-flex ml-3 mr-5 mb-2">
        <h2 class="ml-4">View all transactions:</h2>
        <ul>

            <div class="row mb-3">
                <div class="col align-center">
                    <input type="text" class="search-input form-control" onkeyup="searchFilter()" placeholder="Search for...">
                </div>
            </div>

            <div class="row mb-3 data-table customizer card-body rounded">
                <div class="col-1"></div>
                <div class="col-2"><a href="{% url 'transactions:list_transaction'%}?order=date" class="text-white text-primary display-7 nav-link">Date</a></div>
                <div class="col-1"><a href="{% url 'transactions:list_transaction'%}?order=value" class="text-white text-primary display-7 nav-link">Value</a></div>
                <div class="col-2"><a href="{% url 'transactions:list_transaction'%}?order=counterparty" class="text-white text-primary display-7 nav-link">Counterparty</a></div>
                <div class="col-2"><a href="{% url 'transactions:list_transaction'%}?order=category" class="text-white text-primary display-7 nav-link">Category</a></div>
                <div class="col-2"><a href="{% url 'transactions:list_transaction' %}?order=wallet" class="text-white text-primary display-7 nav-link">Wallet</a></div>
                <div class="col-2"><a href="{% url 'transactions:list_transaction' %}?order=notes" class="text-white text-primary display-7 nav-link">Notes</a></div>
            </div>
            {% for object in object_list %}
            <a href="{% url 'transactions:modify_transaction' object.pk %}" class="text-black">
                <div class="row p-2 data-row">
                    <div class="col-1">{{forloop.counter}}</div>
                    <div class="col-2">{{object.date}}</div>
                    <div class="col-1">{{object.value}}</div>
                    <div class="col-2">{{object.counterparty}}</div>
                    <div class="col-2">{{object.category}}</div>
                    {% if object.wallet %}
                    <div class="col-2">
                    {% for wallet in object.wallet.all %}
                    {{wallet}}
                    {% endfor %}
                    </div>
                    {% else %}
                    <div class="col-2"></div>
                    {% endif %}
                    <div class="col">{{object.notes}}</div>
                </div>
            </a>
            {% empty %}
            <div class="col-12 align-center">Nothing to display</div>
            {% endfor %}
        </ul>
    </div>

    <script src="{% static 'assets/filtering/filtering.js' %}"></script>
    <div></div>

{% endblock container %}