{% extends '_base_.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Modify Counterparty
{% endblock title %}

{% block menu %}
    {% include '../partials/_dash_menu.html' %}
{% endblock menu %}

{% block container %}
    <div class="container-sm mt-5">
        <h2>Modify counterparty:</h2>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-secondary display-4 m-3">Save changes</button>
        </form>
        <a class="btn btn-dark display-4" href="{% url 'counterparties:list_counterparty' %}">Discard changes and quit</a>
        <form method="post">
            {% csrf_token %}
            <button type="submit" name="delete" class="btn btn-secondary display-4 m-2">Delete counterparty</button>
        </form>
    </div>
    <div></div>
{% endblock container %}