{% extends '_base_.html' %}
{% load static %}

{% block title %}
    Transfer Wallet
{% endblock title %}

{% block menu %}
    {% include '../partials/_dash_menu.html' %}
{% endblock menu %}

{% block container %}
    <div class="container-flex ml-3 mr-5 mb-2 mt-5">
        <div class="row">
            <div class="col-4">
                <h2 class="ml-4">Transfer transactions to a new wallet:</h2>
            </div>
            <div class="col-8">
                <input type="text" class="search-input form-control" onkeyup="searchWordFilter()" placeholder="Search for..." value="{{word_filter}}">
            </div>
        </div>

        <ul>

            <div class="row mb-3 mt-3 data-table customizer card-box rounded">
                <div class="col-1 text-white text-primary display-7 nav-link">No.</div>
                <div class="z col"><a href="{% url 'wallets:list_wallet' %}?order=name" class="text-white text-primary display-7 nav-link">Name</a></div>
                <div class="z col"><a href="{% url 'wallets:list_wallet' %}?order=description" class="text-white text-primary display-7 nav-link">Description</a></div>
                <div class="col-5 text-white text-primary display-7 nav-link">Transactions assigned to wallet</div>
            </div>
            <div class="custom-scrollbar" style="overflow-y: auto; overflow-x: hidden; max-height: 50vh">
            {% for object in object_list %}
                <div class="row p-4 data-row">
                    <div class="col-1">
                        <a href="{% url 'wallets:modify_wallet' object.pk %}" class="text-black d-inline-block">
                            {{forloop.counter}}
                        </a>
                    </div>
                    <div class="col">
                        <a href="{% url 'wallets:modify_wallet' object.pk %}" class="text-black d-inline-block">{{object.name}}
                        </a>
                    </div>
                    <div class="col">
                        <a href="{% url 'wallets:modify_wallet' object.pk %}" class="text-black d-inline-block">{{object.description}}
                        </a>
                    </div>
                    <div class="col-1">
                        <a href="{% url 'wallets:modify_wallet' object.pk %}" class="text-black d-inline-block">{{object.wlt_transaction.all|length}}
                        </a>
                    </div>
                    <div class="col-2">
                        <a href="{% url 'wallets:transfer_wallet' from_wallet.pk object.pk %}" class="btn btn-secondary display-4 m-0">
                            Transfer here
                        </a>
                    </div>
                    <div class="col-2">
                        <a href="{% url 'transactions:list_transaction' %}?filter_by=wallet&filter_val={{object.pk}}" class="btn btn-secondary display-4 m-0">
                            Transactions
                        </a>
                    </div>
                </div>
            {% empty %}
            <div class="col-12 align-center">Nothing to display</div>
            {% endfor %}
            </div>
        </ul>
    </div>
    <script src="{% static 'assets/filtering/filtering_words.js' %}"></script>
    <div></div>

{% endblock container %}